<div class="row text-center" style="padding-bottom:20px;">
    <h2 style="color:#2374b9">Our Alumni</h2>
    <img src="/images/underline-2.png" class="underline-design" />
</div>
<div class="row">
    <% for (var i=0; i < _alumni.length; i++) {%>
        <div class="column">
            <figure>
                <img src="<%=_alumni[i].Url %>" alt="Snow" class="alumniImg">
                <figcaption class="text-center colorDarkBlue"><%=_alumni[i].Name %></figcaption>
                <figcaption class="text-center colorDarkBlue"><%=_alumni[i].Title %></figcaption>
                <figcaption class="text-center colorDarkBlue"><%=_alumni[i].Message %></figcaption>
            </figure>
        </div>
    <%}%>
</div>