<div class="row text-center" style="padding-bottom:20px;">
    <h2 style="color:#2374b9">Contact Us</h2>
    <img src="/images/underline-2.png" class="underline-design" />
</div>
<div class="row" style="padding: 0px 30px;">
    <div class="choice-wrap ">
        <div class="container">
            <div class="title">
                <h1 class="colorDarkBlue"><%= _contact.Title %></span></h1>
            </div>
            <p><%= _contact.Message %> </p>
            <div class="contact-info">
                📞 Phone: <span class="blinking"><%= _contact.Phone %></span>
            </div>
            <div class="contact-info">
                📧 Email: <span class="blinking"><%= _contact.Email %></span>
            </div>
        </div>
    </div>
</div>
